html, body {
    height: 100%;
	background:url(../img/bd_bg.png) repeat-x 0 60px #FDFDFD;
}
.clear{
	clear:both;
	overflow:hidden;
	height:0px;
	margin:0px;
	padding:0px;
}
.modal-dialog{
	width:650px;
}
.modal{
	_position:absolute;
}
.modal .form-group{
	position:relative;
}
.modal-body {
    max-height: 347px;
    overflow: auto;
}
/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .open .dropdown-menu > li > a:hover,
.navbar .open .dropdown-menu > li > a:focus,
.navbar .open .dropdown-menu > .active > a,
.navbar .open .dropdown-menu > .active > a:hover,
.navbar .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .open .dropdown-menu > .disabled > a,
.navbar .open .dropdown-menu > .disabled > a:hover,
.navbar .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
hr{margin:0px}
#footer {
    background-color: #F5F5F5;
	border-top: 1px solid #DDDDDD;
    height: 59px;
	text-align:center;
	position: fixed;
	bottom:0px;
	left:0px;
	width:100%;
}
#wrap {
    height: auto;
    margin: 0 auto 60px;
	position: relative;
}
.container .credit {
    margin: 19px 0;
}
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.marketing{
	padding:0px;
	margin:0px;
}
.nav-left{
	border-left: 1px solid #D6E3EC;
	border-right: 1px solid #D6E3EC;
	border-top: 0px solid #D6E3EC;
	border-bottom: 0px solid #D6E3EC;
	border-radius: 0px;
    box-shadow: 0;
    margin-bottom: 0px;
	background-color:#F8F9FD;
}
.collapse-title ,.collapse-body{
	border-bottom: 1px solid #D6E3EC;
	line-height:30px;
}
.collapse-title {
	cursor: pointer;
	text-indent:20px;
	background:url(../img/collapse_bg.png) no-repeat 7px top #F9FBFD;
}
.collapse-title.collapsed{
	background:url(../img/collapse_bg.png) no-repeat 7px -30px;
}
.collapse-body{
	padding:3px 10px;
	overflow:hidden;
}
.collapse-body.collapse{
	display:none;
	height:0px;
	padding:0px;
	border:0px;
}
.collapse-body .left-col{
	background:#FFFFFF;
	display:none;
}
.collapse-body.collapsing .left-col, .collapse-body.in .left-col{
	display:block;
}
.row-table{
	border: 1px solid #D6E3EC;
	background-color: #F8F9FD;
	line-height:30px;
	overflow:hidden;
}
.row-table-title{
	text-indent:20px;
	border-bottom: 1px solid #D6E3EC;
	font-size:13px;
	color:#000000;
	height:30px;
	line-height:35px;
	font-weight:700;
}
.row-table-title .close{
	background:url(../img/close_edit.png) no-repeat right #FFFFFF;
	text-indent: 0px;
	opacity:1;
	display:inline;
	width:20px;
	height:20px;
	margin:3px;
}
.row-table-title .edit{
	background:url(../img/close_edit.png) no-repeat left #FFFFFF;
	margin-right: -3px;
}
.row-table-body{
	margin:10px 30px;
	background:#FFFFFF;
	font-size:13px;
	overflow: hidden;
	padding:0px;
}
.row-table-body .table > thead > tr > th, .row-table-body .table > tbody > tr > th, .row-table-body .table > tfoot > tr > th, .row-table-body .table > thead > tr > td, .row-table-body .table > tbody > tr > td, .row-table-body .table > tfoot > tr > td {
	border: 0px none #DDDDDD;
	padding:0px 5px;
}
.row-table-body .table.table-bordered > thead > tr > th, .row-table-body .table.table-bordered > tbody > tr > th, .row-table-body .table.table-bordered > tfoot > tr > th, .row-table-body .table.table-bordered > thead > tr > td, .row-table-body .table.table-bordered > tbody > tr > td, .row-table-body .table.table-bordered > tfoot > tr > td {
	border: 1px solid #DDDDDD;
}
.row-table-body .table > thead > tr > th,.row-table-body .table > thead > tr > td{
	padding:15px 30px;
}
.row-table-body .table > tbody > tr > th{
	height:25px;
	background:url(../img/tbody_th.png) repeat-x bottom #FFFFFF;
}
.row-col{
	width:48%;
	margin-left:1%;
	margin-bottom:10px;;
	float:left;
	display:inline;
}
.bread-box{
	height:35px;
}
.breadcrumb-hear{
	background:none;
	margin-bottom:0px;
	margin-left:0px;
	font-size: 13px;
    margin-right: 60px;
    padding: 8px 15px;
}
.breadcrumb-hear li{
	color:#333333;
	float:left;
	padding:0px 10px 0px 5px;
	background:url(../img/breadcrumb.png) no-repeat right 5px;
}
.breadcrumb-hear li:first-child{
	background:url(../img/home.png) no-repeat 0px 3px;
	width:30px;
	height:19px;
	padding:0px;
}
.breadcrumb-hear  li.active {
	background:none;
}
.dropdown-md{
	min-width:80px;
}
.navbar-bg{
	float:left;
	margin:30px 0 0 0;
}
.navbar-bg  li{
	float:left;
	border:1px solid #DDDDDD;
	background:url('../img/nav-bg.png') repeat-x bottom #DDDDDD;
	padding:3px 15px;
}
.navbar-bg  li.active{
	background:url('../img/nav-bg.png') repeat-x top #0078C4;
	border:1px solid #0078C4;
	color:#FFFFFF;
}
.navbar-bg  li  a {
	font-size:13px;
	color:#000000;
}
.navbar-bg .active  a{
	color:#FFFFFF;
}
.navbar-none li{
	background:none;
	border:0px none;
	color:#000000;
}
.top-date{
	margin-right:2%;
	color:#666666;
	font-size:13px;
	padding: 8px 15px;
}
.navbar-logo{
	position:absolute;
	top:0px;
	left:0;
	z-index:0;
	width:15%;
	margin:0px;
	overflow:hidden;
}
.navbar-logo img{
	margin-left:20px;
	margin-top:10px;
}
.nav-top{
	padding-left:15%;
	border-bottom: 4px solid #0078C4;
	overflow:hidden;
}
.body-left{
	width:17%;
	margin:0 1%;
	float:left;
	display:inline;
	border-top: 1px solid #D6E3EC;
}
.left-col{
	float:left;
	width:50%;
	text-indent:10px;
	display:inline;
}
.body-right{
	width:78%;
	margin:0 1%;
	float:left;
	display:inline;
}
.row-table-body pre{
	margin:0px;
	display:block;
	overflow:hidden;
}
.navbar-none{
	margin-right:2%;
}
.form-title{
	background:#E7F4FF;
	padding:0 20px;
	line-height: 2;
}
.login-logo{
	padding:20px 50px 0;
}
.unshift-user{
	font-size:13px;
	color:#777;
}
.color-red{
	color:#F00;
}
.login-bg{
	margin-top:80px;
	height:197px;
	background:url('../img/login_bg.png') no-repeat center #0078C4;
}
.login-box{
	position:absolute;
	width:100%;
	top:70px;
	left:0px;
}
.login-main{
	margin:0 auto;
	width:300px;
	background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.login-main .form-signin{
	border-bottom:1px solid #EEEEEE;
	padding:0px;
	margin:15px 15px 0px;
}
.login-main h2 ,.login-main p{
	margin:0px 0px 20px;
	overflow:hidden;
}
.login-main p .checkbox{
	margin:0px;
	overflow:hidden;
}
.login-main h2{
	font-size:14px;
	font-weight:700;
	color:#666666;
	text-align:center;
	line-height:2;
	border-bottom:1px solid #EEEEEE;
}
.footer{
	text-align:center;
	color:#000000;
	background:#F5F5F5;
	border-top: 1px solid #EEEEEE;
	margin:1px 15px 15px;
	padding:15px 0;
}
.footer p{
	margin:0px;
}
.footer a{
	padding:0 5px;
}
.form-group {
	width:100%;
}
.form-inline {
	padding-left: 20px;
	padding-bottom: 10px;
}
.form-inline .form-group {
    width: auto;
}
.form-inline .form-control {
	height:30px;
    width: auto;
}
.page{
	margin: 0px auto;
}
.page .pagetotal{
	width:20%;
	float:left;
	text-align:right;
}
.page .pagelist{
	width:60%;
	float:left;
	text-align:center;
}
.page .pagelist ul{
	border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}
.page .pagelist ul li{
	display: inline;
}
.page .pagelist ul li > a, .page .pagelist ul li > span {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 20px;
    padding: 2px 9px;
    text-decoration: none;
}
.page .pagelist ul li:first-child > a, .page .pagelist ul li:first-child > span {
    border-bottom-left-radius: 4px;
    border-left-width: 1px;
    border-top-left-radius: 4px;
}
.page .pagelist ul li:last-child > a, .page .pagelist ul li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.page .pagego{
	width:20%;
	float:left;
	text-align:left;
}
.row-body{padding:5px;border:1px #D6E3EC solid;background:#FFFFFF;}

.date{ cursor:pointer;}
#calendar{margin-top:30px; border:0px none;}
#calendar .row-table-title{border:1px #D6E3EC solid;border-bottom:0px none;}
.cdate{ text-align:center;line-height:30px;height:30px;text-indent:0px;border:1px #D6E3EC solid;border-bottom:0px none;font-weight:700;background:#FFFFFF;} 	
.cdate a{ display:inline-block; width:10%; cursor:pointer; }
.cdate .selectDate{ width:45%;display:inline-block;}
.calTable{ width:100%; border-collapse:collapse; }
.calTable th,.calTable td{ height:30px; border:1px #D6E3EC solid; text-align:center;}
.calTable th{background:#EBF5FF}
.calTable td.today{background:#A4DDFD}
.calTable td.yellow{background:#00FF00}
.calTable td a{display:block;height:100%;position:relative}
.calTable td a img{z-index:99;position:absolute;top:-2px;left:-2px;}
#calTable2 td{height:80px;line-height:80px;}
.row-table-body .table > tbody > tr > td{
	padding:5px 0px;
}
.row-table-body .table > tbody > tr > td:first-child,.row-table-body .table > tbody > tr > th:first-child{
	padding-left:20px;
}
.row-table-body .table > tbody > tr > td:last-child,.row-table-body .table > tbody > tr > th:last-child{
	padding-right:20px;
}
.workflowbox  .table> tbody > tr > td ,.workflowbox .table > tbody > tr > td:first-child,.workflowbox .table> tbody > tr > th:first-child ,.workflowbox  .table> tbody > tr > td:last-child,.workflowbox .table > tbody > tr > th:last-child{
	padding:5px 0px;
}
.workflowbox{
overflow:auto;
}